<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <%= link_to "iThomas", root_path %> Application
  is a project to make a digital version of a kid. It was written in <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is a beta version of the 
  software, which you should use at your own risk.
</p>
